.home {
  @extend %page;
  height: 100%;

  overflow: hidden;
}
.home__wrapper {
  height: 100%;
}

.home__gallery {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  height: 100%;

  flex-shrink: 1;
}
.home__gallery__link {
  position: relative;
  display: inline-block;

  &:not(:first-child) {
    margin-left: 6vmax;
  }

  &:hover {
    .home__gallery__media__title {
      opacity: 1;
      transform: translateY(0);
    }

    .home__gallery__media__year {
      span span {
        transform: translateY(0);
      }
    }
  }
}

.home__gallery__media {
  pointer-events: none;
}


.home__gallery__media__image {
  width: 31vh;
  height: 50vh;

  visibility: hidden;
}

.home__gallery__media__details {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100%;


  transform: translateY(100%);
}

.home__gallery__media__year {
  span {
    display: flex;
    justify-content: center;

    overflow: hidden;

    span {
      @extend %title--regular;
      display: inline-block;

      transform: translateY(100%);
      transition: transform 1s $ease-out-expo;

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.05s;
        }
      }
    }
  }
}

.home__gallery__media__title {
  display: inline-block;

  color: $color-secondary;
  text-align: center;

  opacity: 0;
  transform: translateY(100%);

  transition: transform 1s $ease-out-expo, opacity 1s $ease-out-expo;
}

.home__gallery__indicator__wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 50vmin;
  height: 50vmin;

  max-width: 400px;
  max-height: 400px;

  transform: translate(-50%, 50%);

  svg {
    width: 100%;
    height: 100%;

    circle {
      fill: transparent;
      stroke: $color-secondary;
      stroke-width: 1;

      stroke-dasharray: 0.1, 4;
      stroke-linecap: round;

      transform-origin: center;
    }
  }
}
