@font-face {
  font-family: 'Wremena-Light';
  src: url('@static/Wremena-Light.woff2') format('woff2'),
      url('@static/Wremena-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wremena';
  src: url('@static/Wremena.woff2') format('woff2'),
      url('@static/Wremena.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
